extends layout

block content
  if (messages)
    div(class="messages-container")
      if (!currentUser || !currentUser.isMember)
        div(class="message-container")
          div(class="left-message")
            img(src='/images/alien.svg')
          div(class="right-message")
            h3 Hello, Users!
            p Register an account and user the passcode "hi" to become a member to view additional message info. 
          div(class="message-info")
            p posted by: luhook 
            p Nov 10, 1980
      each message in messages 
        if (!currentUser || !currentUser.isMember)
          div(class="message-container")
            div(class="left-message")
              img(src="images/alien.svg") 
            div(class="right-message")
              h3 #{message.title}
              p #{message.text} 
            div(class="message-info")
              p N/A 
              p anonymous
        if (currentUser && currentUser.isMember)
          div(class="message-container")
            div(class='left-message')
              img(src= message.user.imgURL)
            div(class='right-message')
              h3 #{message.title} 
              p #{message.text}
            div(class='message-info')
              p Posted by: #[Strong #{message.user.username}]
              p #{message.date}
              if (currentUser && currentUser.isAdmin)
                div.delete-msg
                  form(action="" method="POST")
                    input(type="hidden", name="messageId", required="true", value=message._id)
                    button(type="submit") &#128465
  